@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 100px 0px 100px 0px;
}

#image {
  margin: 20px 0px 20px 0px;
}

#contribution {
	margin: 2px solid #fff;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    /*overflow: hidden;*/
    border-top: 2px solid #D0D0D0;
    color: #0000FF;
}
